/*FONTS*/

$ff-main: "Roboto-Regular";
$ff-main-additional: "Sansus-Webissimo-Regular";
$ff-main-Bold: "Roboto-Bold";
$ff-main-Italic: "Roboto-Italic";
$ff-main-Medium: "GothamPro-Medium";

/*FONTS-COLOR*/
$c-main: #363e42;
$c-main-on-focus: #ffffff;
$c-additional: #566358;
$c-accent: #4e8839;
$c-accent-dull: #6c9c5a;
$c-link: #6da3bd;
$c-attention: #e34844;

/*FONTS-SIZE*/

$fz-main: 16px;
$fz-sub-title: 35px;
$fz-title: 63px;
